// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#products-table{
	border: 1px solid black;
	tr, td, th{
		border: 1px solid black;
	}
	td{
		min-width: 5%;
	}
}